body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    background: lightblue;
    padding: 1rem;

}

.grid-items {
    border: 1px solid white;
} 